body {
    background: linear-gradient(-60deg, rgba(35, 226, 203, 0.75) 30%, rgba(35, 172, 226, 0.75) 30%), transparent 0;
    background-repeat:no-repeat;
    min-height: 100%;
    min-width: 1024px;
  
    width: 100%;
    height: auto;
}
.heading {
    background: linear-gradient(-60deg, rgba(35, 226, 203, 0.75) 30%, rgba(35, 172, 226, 0.75) 30%), transparent 0;
    background-repeat:no-repeat;
    min-height: 100%;
    min-width: 1024px;
  
    width: 100%;
    height: auto;
}
input {
    background: rgba(255, 255, 255, 0.541);
    border: 0.5px solid black;
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
button {
    background: rgba(168, 168, 168, 0.8);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.text-style {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.button {
    text-align: center;
    font-size: 20px;
}
.navbar-style {
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.navbar-dropdown-style {
    border-radius: 15px;
    background: rgb(255, 255, 255);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.11);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.dropdown-item {
    background: rgba(255, 255, 255, 0);
}
.dropdown-item:hover {
    background: rgba(255, 255, 255, 0.76);
}
.navbar-burger-thing {
    border-radius: 15px;
}
.fpage {
    background: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.fpage-t {
    padding: 20px 25px 20px 25px;
}
.login-box {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    min-width: 35%;
    max-width: 35%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.container {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    min-width: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 5px 10px 10px 10px;
}
.pnf {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    min-width: 30%;
    max-width: 50%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px 25px 20px 25px;
}
.footer-style {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.dev-view {
    position: sticky;
    bottom: 15px;
    right: 15px;
    float: right;
    width: 35px;
    height: 50px;
    font-size: 15px !important;
}
