nav {
    background: black;
    background-repeat:no-repeat;
    min-height: 100%;
    min-width: 1024px;
    
    width: 100%;
    height: auto;
}
body {
    background: linear-gradient(-60deg, #23e2cb 30%, #23ace2 30%), transparent 0;
    background-repeat:no-repeat;
    min-height: 100%;
    min-width: 1024px;
  
    width: 100%;
    height: auto;
}
input {
    background: rgba(255, 255, 255, 0.541);
    border: 0.5px solid black;
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
button {
    background: #d0cfcf;
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.text-style {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.button {
    text-align: center;
    font-size: 20px;
}
.navbar-style {
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.navbar-dropdown-style {
    border-radius: 15px;
    background: rgb(255, 255, 255);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.11);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.dropdown-item {
    background: rgba(255, 255, 255, 0);
}
.dropdown-item:hover {
    background: rgba(255, 255, 255, 0.76);
}
.navbar-burger-thing {
    border-radius: 15px;
}
